#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export DEB_CPPFLAGS_MAINT_APPEND  = -fpermissive -DHAVE_STDINT_H -DHAVE_INTTYPES_H -Wno-error=narrowing -I/usr/include/freetype2/

#export PRINCEBASE = $(shell pwd)
export PRINCEBASE = $(shell pwd)/level1/level2
export HOST = linux
export MOZCONFIG = ${PRINCEBASE}/mozilla/mozconfigs/${HOST}/PrinceRelease.mozconfig
export PROD_SW = 1
export MOZILLAMODE = release
export PROD_TEX = 1
export PRINCEPROD = sw
export DESTDIR = usr/lib
export STAGING = ${PRINCEBASE}
export DEB_PACKAGE = $(shell pwd)/debian/scientific-word

%:
	dh  $@

override_dh_autoreconf:

override_dh_auto_configure:


#	make -f client.mk depend

# A bit ugly but will do for now
override_dh_auto_build:
#	mkdir mozilla
#	find . -maxdepth 1 -mindepth 1 -not -name mozilla -not -name debian -exec mv '{}' mozilla/ \;
	cp -r debian/memory ./
#	make -f client.mk build
# This almost works, but runs into trouble as `level1/level2/mozilla/../release/xulrunner` 
# isn't evaluated correctly
	mkdir -p level1/level2/mozilla
	find . -maxdepth 1 -mindepth 1 -not -name level1 -not -name debian -not -name .git -exec cp -r '{}' level1/level2/mozilla \;
#	ln -s ../../ level1/level2/mozilla
	cd level1/level2 && make -f mozilla/client.mk build

override_dh_install:
	cp -RL $$STAGING/$$MOZILLAMODE/prince/dist/bin $$STAGING/$$MOZILLAMODE/$$PRINCEPROD
	cp -RL $$STAGING/$$MOZILLAMODE/xulrunner/dist/bin $$STAGING/$$MOZILLAMODE/$$PRINCEPROD/xulrunner
	cp $$STAGING/$$MOZILLAMODE/xulrunner/dist/bin/*.gmr $$STAGING/$$MOZILLAMODE/$$PRINCEPROD/
	mkdir -p $$DEB_PACKAGE/$$DESTDIR
	ls debian/scientific-word
	ls level1/level2/release
	cd level1/level2/release && ./xulrunner/dist/bin/xulrunner --install-app $$PRINCEPROD ../../../debian/scientific-word/usr/lib $$PRINCEPROD
	ls $$DEB_PACKAGE/$$DESTDIR


